@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
.custom-img {
  position: relative;
  background-image: url("/images/buyukcekmece-kentsel-donusum/2.jpg");
  background-position: center center;
}
.cursor-autocad {
  cursor: url("/public/clicks.png"), auto;
}
.hakkinda-img {
  background-image: url("/images/beylikduzu-kuyumcu/2.jpg");
}

.text-light {
  @apply text-gray-600;
}
.text-light-md {
  @apply text-gray-500;
}
/* CSS dosyanızda veya <style> etiketi içinde tanımlayabilirsiniz */
@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 1s ease forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation on hover */
.group-hover .animate-slide-left {
  animation: slide-left 1s ease forwards;
}
@keyframes slideInFromRight {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@media (max-width: 768px) {
  @keyframes slideInFromRight {
    0% {
      width: 0%;
    }
    100% {
      width: 60%;
    }
  }
}

.navbar-links::after {
  content: "";
  display: block;
  height: 0.08rem;
  background-color: #000;

  position: absolute;
  bottom: 1.5rem;
  right: 0;
  animation: slideInFromRight 2s forwards;
}

.ekip-yazi {
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s;
  transform: translateY(50px);
}

.ekip-yazi:hover {
  opacity: 1;
  transform: translateY(0);
}
