@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
.custom-img {
  position: relative;
  background-image: url("/images/buyukcekmece-kentsel-donusum/3.jpg");
  background-size: cover;
  background-position: center center;
}
.hakkinda-img {
  background-image: url("/images/beylikduzu-kuyumcu/2.jpg");
}

.text-light {
  @apply text-gray-600;
}
.text-light-md {
  @apply text-gray-500;
}
